# Exclude large data directory by default

# Exclude all content first
content/*
# Re-include the source directory structure
!content/source/

sound/

# Exclude git metadata
.git
.github
.gitignore

# Exclude temp files
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
flask_mdict.db
flask_mdict_wfd.db
my-flask-mdict.xml

# Exclude frontend build artifacts and dependencies
website/node_modules
website/dist
.env
