# Ignore all dictionaries inside source
content/source/*
# Keep the directory structure
!content/source/.gitkeep
sound/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
flask_mdict.db
flask_mdict.json
node_modules/
flask-mdict/flask_mdict/static/css/main.css
flask-mdict/flask_mdict/static/src/